    .text-shodow{
        text-shadow: 0 0 6px black;
    }
    .card-event .card-img-top{
        min-height: 250px;
    }
    .date-event-future{
        padding: 0.3rem 1rem!important;
        color: white;
        position: absolute;
        background: #58af83c2;
        text-shadow: 1px 1px #1d2124b0;
    }
    .date-event-happening-now{
        padding: 0.5rem 0.6rem!important;
        color: white;
        position: absolute;
        text-shadow: 1px 1px #1d2124b0;
        background: #0466e0c4;
    }
    .date-event-now{
        padding: 0.5rem 0.6rem!important;
        color: white;
        position: absolute;
        background: #ff6347e0;
        text-shadow: 1px 1px #1d2124b0;
    }
    .date-event-now .icon{
        color: yellow;
        background-color: black;
        border-radius: 14px;
    }
    .time-wait{
        background-color: lightgrey;
        padding: 2px 5px;
        border-radius: 20px;
    }


    .jumbotron{
        background: rgba(0, 0, 0, 0.5);
        position:relative;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;

        /*
            fixed = parallax
            scroll = normal
        */
        background-attachment:fixed;
    }
    .jumbotron .bg-opacity{
        background: rgba(0, 0, 0, 0.1);
        background-size:cover;
    }
    .jumbotron .btn-custom{
        border-radius: 1.5rem;
        padding: 0.5rem 1.2rem;
    }