.card-block h5{
      text-align: center;
    }
    .card-block h5:hover, .card-block h5:focus{
      text-decoration: none;
    }

    .card-block .list {
      color: #047BFF;
      padding: 5px;
    }
    .card-block .list li{
      font-size: 15px;
      list-style: none;
    }
    .card-block>.list::first-line {
      color: #333;
    }
    .card-block>.list> li, h5 {
      padding: 5px 0px 5px 15px;
    }
    .card-block>.list>li:hover {
      background-color: lavender;
      color: #333;
      font-weight: normal;
      padding-left: 20px;
      border-radius: 0px;
    }