{% extends 'base.html' %}

{% load static %}

{% block title %}História{% endblock %}

{% block style %} <link href="/static/css/dundo.css"  rel="stylesheet">{% endblock %}

{% block content %}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h4 class="text-center p-3">História</h4>
		    <div class="whrapText"><img src="{% static 'images/dundo/Dundo museu.jpg' %}"></div>
				<p>O nome Dundo provém da borracheira “ndundu” originária das margens do rio “ndundu” actualmente rio Dundo, a partir da sua nascente até sua foz no rio Luachimo.</p>
				<p>Os primeiros nativos que os colonos encontraram junto do rio eram os Tchowkes, os Kamusekeles, os Benamay e os Lubas. Actualmente existem cerca de 17 grupos étnicolinguísticos.</p>
				<p>Com vários povoados de então, nascidos na encruzilhada de rotas comerciais ou em zonas de recursos naturais abundantes, o aldeamento fundado em 1917 pela então empresa colonial Diamang serviu de base administrativa e logística a exploração da região.</p>
		    <h4 class="text-center p-2">Atualmente</h4>
		    <p>A cidade do Dundo foi criada pelo Decreto Presidencial n.º 21/15, de 7 de Janeiro</p>
				<p>Cria a Cidade do Dundo na Província da Lunda-Norte com os limites geográficos e modelo
					organizacional, estabelece o seu regime foral, delega competências ao ministro da
					Administração do Território para aprovar e mandar publicar por Decreto Executivo, o
					Estatuto Orgânico e o quadro de pessoal da Cidade do Dundo e derroga o n.º 1 do artigo 5º
					do Decreto n.º84/78, de 4 de Julho
				</p>
				<h6 class="text-center font-weight-bold">Lei n.º 5/15, de 6 de Maio</h6>
				<p>Lei de alteração da Divisão Político-administrativa da Província da Lunda-Norte, sobre os
					limites do Município de Chitato, que desanexa a Comuna do Lóvua e elevando-a à categoria
					de Município. Altera igualmente a sede da Província da Lunda-Norte, da Vila de Lucapa, no
					Município do Lucapa, para a Cidade do Dundo no Município do Chitato. Revoga o n.º 2 do
					artigo 1.º do Decreto n.º 84/78, de 4 de Julho que fazia a divisão da Província da Lunda em
					duas Províncias: Lunda-Norte, com sede em Lucapa, e Lunda-Sul, com sede em Saurimo.
				</p>

		    <h4 class="text-center p-3">Composição e Dimensão</h4>
		    <p style="text-align: center;">A cidade do Dundo é composta por três (3) Distritos Urbanos, dentre eles:</p>
		    <ul class="list-group list-group-flush border border-secondary rounded">
                <li class="list-group-item p-1">Distrito Urbano do Chitato</li>
                <li class="list-group-item p-1">Distrito Urbano do Dundo</li>
                <li class="list-group-item p-1">Distrito Urbano do Mussungue</li>
		    </ul>
              <br>
		    <h5 class="text-center">Dimensão</h5>
		    <p class="text-center">A cidade do Dundo tem uma extensão territorial de 447,3 Km <sup>2</sup></p>

            <ul class="list-group list-group border border-secondary rounded">
                <li class="list-group-item p-1"><h5 class="text-center">Limites geográficos da cidade do Dundo</h5></li>
                <li class="list-group-item p-1">Rio Luachimo</li>
                <li class="list-group-item p-1">Rio Catumbanji</li>
                <li class="list-group-item p-1">Nascente do Rio Chitato</li>
                <li class="list-group-item p-1">Nascente do Rio Mundembele</li>
                <li class="list-group-item p-1">Nascente do Rio Cassombo</li>
                <li class="list-group-item p-1">Nascente do Rio Licolo</li>
                <li class="list-group-item p-1">Nascente do Rio Cundueji</li>
                <li class="list-group-item p-1">Paralelo 7º 17</li>
            </ul>
		  	<h4 class="text-center p-3">Razões da criação da cidade do Dundo</h4>
		    <div class="whrapText"><img src="{% static 'images/dundo/centralidade.jpg' %}"></div>
				<p>A criação da Cidade do Dundo visa, entre outros objectivos, garantir a resolução de
					problemas de expansão, renovação, recuperação e reordenamento urbano.
				</p>
				<p>A Cidade do Dundo assenta numa divisão administrativa e organizacional específica. Tratase
					de um novo paradigma jurídico-urbanístico, enquadrada na “Reforma Urbana” que visa o
					seguinte objectivo primário: promover a democratização do planeamento e da gestão da
					cidade.
				</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}